*{
    text-align: center;
    margin: auto;
}

h1 {margin-bottom: 30px;}

body {background-color: rgb(3, 12, 73); color:white}

.cell {width:30px; height:30px; text-align: center; background-color: antiquewhite;}
.floor {background-color: rgb(195, 93, 93)}
.wall {background-color: rgb(71, 0, 97)}

.score {
    display: inline-block;
    font-size: 22px;
    color: rgb(24, 24, 68);
    background-color: rgb(234, 156, 156);
    width: 130px;
    margin-bottom: 15px;
    margin-left: 200px;
}



.modal {
    margin: auto;
    margin-top: 10px;
    max-width: 360px;
    text-align: center;
    font-size: 40px;
    border: 2px solid rgb(210 202 202);
}

button{
    font-size: 20px;
    background-color: aquamarine;
    margin-bottom: 5px;
}

button:hover{
    cursor: pointer;
    background-color: aqua;
}



